{namespace edu.uz.jira.event.planner.project}

/**
 * Render the information page for My Project Template.
 */
{template .renderEventOrganizationProjectExplanation}
    <p>{getText('project.info.page.description')}</p>
{/template}