#available-event-category, #selected-event-category, #available-event-component, #selected-event-component, #available-event-task, #selected-event-task, #selected-component-tasks, #selected-predefined-event-components, #subtasks {
    width: 100%;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: auto;
}

.connectedSortable li {
    list-style: none none;
    margin: 0;
    padding: 5px 0 0 0;
}

#available-event-category li, #selected-event-category li, #event-plan-element-portlet li, #available-event-task li, #selected-event-task li, #selected-component-tasks li, #new-component-tasks li, #selected-predefined-event-components li, #subtasks li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: 90%;
}

.tasks-list {
    list-style: none none;
    margin: 0;
    padding: 5px 0 0 0;
}

.event-plan-list-element {
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: 90%;
    list-style: none none;
    margin: 0;
    vertical-align: top;
}

.event-plan-element-portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    position: relative;
}

.event-plan-element-portlet-content {
    padding: 0.4em;
}