.connectedSortable {
    width: 100%;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding-left: 0;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: auto;
}

.connectedSortable li {
    list-style: none none;
    margin: 3px;
}

.event-plan-list-element {
    margin: 5px;
    width: 80%;
    list-style: none none;
    vertical-align: top;
}