.connectedSortable {
    width: 100%;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: auto;
}

.connectedSortable li {
    list-style: none none;
    margin: 0;
    padding: 5px 0 0 0;
}

.event-plan-list-element {
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: 90%;
    list-style: none none;
    margin: 0;
    vertical-align: top;
}

.event-plan-element-portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    position: relative;
}

.event-plan-element-portlet-content {
    padding: 0.4em;
}