.drag-and-drop-image {
    content: url('images/time-line-drag-and-drop.png');
    display: block;
    margin: 0 auto;
}

.drag-and-drop-second-image {
    content: url('images/time-line-drag-and-drop2.png');
    display: block;
    margin: 0 auto;
}