<html>
<head>
    <title>Event Organization Plan Configuration</title>
    <meta name="admin.active.section" content="admin_issues_menu/element_options_section/fields_section">
    <meta name="admin.active.tab" content="field_configuration">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>
<script type="text/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var projectKey = getParameterByName("project-key");
        var contextPath = AJS.Meta.get("context-path");

        var myFlag = AJS.flag({
            type: 'success',
            title: 'Event organization project configured successfully.',
            body: '<ul class="aui-nav-actions-list">' +
                    '<li><a href="' + contextPath + '/projects/' + projectKey + '">Show project summary</a></li>' +
                    '<li><a href="' + contextPath + '/projects/' + projectKey + '/issues">Show project issues</a></li>' +
                    '<li><a href="' + contextPath + '/plugins/servlet/project-config/' + projectKey + '">Move to project administration</a></li>' +
                  '</ul>'
        });


</script>
</body>
</html>