<html>
<head>
    <title>Event Organization Plans Configurations</title>

    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>

    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>
<section role="dialog" id="plan-delete-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Delete Event Organization Plan</h2>
    </header>
    <div class="aui-dialog2-content">
        <p>Do you really want to delete this Event Organization Plan?</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="delete-plan-confirm-button" class="aui-button aui-button-primary">Confirm</button>
            <button id="delete-plan-cancel-button" class="aui-button">Cancel</button>
        </div>
    </footer>
</section>

<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    ;

        #include("templates/admin/rest-manager.js")
    var rest = new RESTManager();

    AJS.dialog2("#plan-delete-dialog").show();

    AJS.$("#delete-plan-confirm-button").click(
            function (e) {
                e.preventDefault();

                rest.doDelete('plan', getParameterByName('id'));

                AJS.dialog2("#plan-delete-dialog").hide();
                window.history.back(-1);
            };
    )
    ;

    AJS.$("#delete-plan-cancel-button").click(
            function (e) {
                e.preventDefault();

                AJS.dialog2("#plan-delete-dialog").hide();
                window.history.back(-1);
            };
    )
    ;
</script>
</body>
</html>