<html>
<head>
    <title>Event Organization Plans Configurations</title>

    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>

    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>

</body>
</html>