<html>
<head>
    <title>Event Organization Plans Configurations</title>

    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>

    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>
<section role="dialog" id="plan-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Event Organization Plan</h2>
    </header>
    <div class="aui-dialog2-content">
        <div class="field-group" id="event-name-group">
            <label for="plan-name" style="font-weight:bold">Name: </label>
            <span id="plan-name"></span>
        </div>
        <div class="field-group" id="event-description-group">
            <label for="plan-description" style="font-weight:bold">Description: </label>
            <span id="plan-description"></span>
        </div>
        <div class="field-group" id="event-time-group">
            <label for="plan-needed-time" style="font-weight:bold">Estimate time to complete: </label>
            <span id="plan-needed-time">
                <span id="plan-needed-months"></span> month(s) +
                <span id="plan-needed-days"></span> day(s)
            </span>

        </div>
        <div class="field-group">
            <label for="plan-categories" style="font-weight:bold">Domains:</label>
            <ul id="plan-categories">

            </ul>
        </div>
        <div class="field-group">
            <label for="plan-components" style="font-weight:bold">Components:</label>
            <ul id="plan-components">

            </ul>
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="plan-close-button" class="aui-button">Close</button>
        </div>
    </footer>
</section>

<script type="text/javascript">
    AJS.dialog2("#plan-dialog").show();

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    };

    #include("templates/admin/model/plan.js")
    var plan = new Plan();
        plan.elementsTag = 'li';

    #include("templates/admin/rest-manager.js")
    var rest = new RESTManager();
        rest.getAsPost('plan', plan, getParameterByName('id'));

    AJS.$("#plan-close-button").click(
        function (e) {
            e.preventDefault();

            AJS.dialog2("#plan-dialog").hide();
            window.history.back(-1);
        }
    );

</script>
</body>
</html>