<html>
  <head>
    <title>Event organization configuration</title>
    <meta name="decorator" content="alt.admin">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
  </head>
  <body>
      <section role="dialog" id="event-config-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
          <header class="aui-dialog2-header">
              <h2 class="aui-dialog2-header-main">Event organization configuration</h2>
          </header>
          <div class="aui-dialog2-content">
              <form class="aui" id="event-configuration" action="#" method="post">
                    <div class="field-group" id="event-duedate-group">
                            <label for="event-duedate">Event date<span class="aui-icon icon-required">(required)</span></label>
                            <input class="aui-date-picker" id="event-duedate" name="event-duedate" type="date" />
                            <div class="description" id="event-duedate-description">Date of an event.</div>
                    </div>
                    <div class="field-group">
                            <label for="event-type">Event type</label>
                            <select class="select" id="event-type" name="event-type" type="text" title="Event type">
                                <option>Undefined</option>
                                <optgroup label="Development">
                                    <option>First presentation for Client</option>
                                    <option>Review</option>
                                    <option>Summary of the project</option>
                                </optgroup>
                                <optgroup label="Marketing">
                                    <option>Products presentation</option>
                                    <option>Job fair</option>
                                </optgroup>
                            </select>
                            <div class="description">Type of an event.</div>
                    </div>
              </form>
          </div>
          <footer class="aui-dialog2-footer">
              <div class="aui-dialog2-footer-actions">
                  <button id="event-config-dialog-save-button" class="aui-button aui-button-primary" type="submit">Save</button>
              </div>
          </footer>
      </section>
  </body>

  <script type="text/javascript">
      function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      function isDueDateEmpty() {
            var dueDate = document.getElementById('event-duedate').value;
            return dueDate.valueOf() == "".valueOf();
      }

      function sendPostRequestWithFormData() {
            var projectKey = getParameterByName("project-key");
            var dueDate = document.getElementById('event-duedate').value;
            var eventType = document.getElementById('event-type').value;
            var params = "project-key=" + projectKey + "&event-duedate=" + dueDate + "&event-type=" + eventType;

            var request = new XMLHttpRequest();
            request.open("POST", "eventconfig", true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200) {
                    alert(http.responseText);
                }
            }
            request.send(params);
      }

      AJS.dialog2("#event-config-dialog").show();

      AJS.$("#event-config-dialog-save-button").click(function(e) {
            e.preventDefault();

            if(!isDueDateEmpty()) {
                sendPostRequestWithFormData();
                AJS.dialog2("#event-config-dialog").remove();
            } else {
                $('#event-duedate-description').html('<div class="error" data-field="event-duedate">You must specify a date of the event.</div>');
            }
      });

  </script>
</html>
