<html>
<head>
    <title>Event Organization Plan Configuration</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_current/project_section"/>
    <meta name="admin.active.tab" content="view_projects"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plan-configuration-resources")
</head>
<body>
<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var projectKey = getParameterByName("project-key");
    var contextPath = AJS.contextPath();

    require('aui/flag')({
        type: 'success',
        title: 'Event organization project configured successfully.',
        body: '<ul class="aui-nav-actions-list">' +
        '<li><a href="' + contextPath + '/plugins/servlet/event/plan/time-line?project=Project: ' + projectKey + '">TimeLine</a></li>' +
        '<li><a href="' + contextPath + '/projects/' + projectKey + '">Summary</a></li>' +
        '<li><a href="' + contextPath + '/projects/' + projectKey + '/issues">Issues</a></li>' +
        '<li><a href="' + contextPath + '/plugins/servlet/project-project/' + projectKey + '">Administration</a></li>' +
        '</ul>'
    });
</script>
</body>
</html>