<!DOCTYPE html>
<html>
<head>
    <title>ASUS ROG DAY timeline</title>

    <meta name="decorator" content="atl.general">

    <link type="text/css" rel="stylesheet" href="/jira/s/d41d8cd98f00b204e9800998ecf8427e-CDN/pl_PL-l42oyd/64022/3/3.10.10/_/download/resources/com.atlassian.gadgets.dashboard:dashboard/gadget-chrome.css" media="all">
    <link type="text/css" rel="stylesheet" href="/jira/s/d41d8cd98f00b204e9800998ecf8427e-CDN/pl_PL-l42oyd/64022/3/3.10.10/_/download/resources/com.atlassian.gadgets.dashboard:dashboard/gadget-colours.css" media="all">

</head>
<body>
    <header class="aui-page-header" style="padding: 20px 20px 20px 20px;">
        <div class="aui-page-header-inner" >
            <div class="aui-page-header-main">
                <h1>ASUS ROG DAY timeline</h1>
            </div>
                <div class="aui-page-header-actions">
                    <a href="weekview" aria-owns="dwarfers" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">Week view</a>
                    <div id="dwarfers" class="aui-style-default aui-dropdown2">
                        <ul class="aui-list-truncate">
                            <li><a href="monthview">Month view</a></li>
                            <li><a href="yearview">Year view</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </header>

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <table class="aui">
                    <tbody>
                    <tr>
                        <td></td>
                        <!-- LATE -->
                        <td style="background: #d04437; vertical-align: bottom; padding:0;" width="12%">
                            <div class="gadget" style="position: relative;">
                                    <div class="dashboard-item-header" style="background: #333333;">
                                        <h3 class="dashboard-item-title">Guests</h3>
                                    </div>
                                    <div class="dashboard-item-content">
                                        <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                        <a href="#">Send invitations</a>
                                    </div>
                            </div>
                        </td>
                        <!-- TODAY -->
                        <td style="background: #f5f5f5; vertical-align: bottom; padding:0; border-left: 3px solid #205081; border-right: 3px solid #205081;" width="12%">
                            <div class="gadget color1"  style="position: relative;">
                                <div class="dashboard-item-frame gadget-container">
                                    <div class="dashboard-item-header">
                                        <h3 class="dashboard-item-title">Presentation</h3>
                                    </div>
                                    <div class="dashboard-item-content">
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Make some slides</a>
                                            <br />
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Slideshow summ...</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">

                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">
                            <div class="gadget color1" style="position: relative;">
                                <div class="dashboard-item-frame gadget-container">
                                    <div class="dashboard-item-header">
                                        <h3 class="dashboard-item-title">Presentation</h3>
                                    </div>
                                    <div class="dashboard-item-content">
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Make more slides</a>
                                            <br />
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Practice present...</a>
                                            <br />
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Test microphone</a>
                                    </div>
                                </div>
                            </div>
                            <div class="gadget color1" style="position: relative;" width="12%">
                                <div class="dashboard-item-frame gadget-container">
                                    <div class="dashboard-item-header">
                                        <h3 class="dashboard-item-title">Guests</h3>
                                    </div>
                                    <div class="dashboard-item-content">
                                            <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                            <a href="#">Collect responsies</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">

                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">

                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">

                        </td>
                        <td style="vertical-align: bottom; padding:0;" width="12%">

                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>

                                <a href="?previous=true"><button type="submit" value="Save" id="previous" class="aui-button" aria-disabled="false"><<</button></a>

                        </td>
                        <!-- LATE -->
                        <td style="text-align: center; color: #d04437; vertical-align: middle;" width="12%">1 day late</td>
                        <!-- TODAY -->
                        <td style="text-align: center; color: #3572b0; vertical-align: middle;" width="12%">25-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">26-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">27-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">28-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">29-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">30-wrz</td>
                        <td style="text-align: center; vertical-align: middle;" width="12%">31-wrz</td>
                        <td><button class="aui-button" aria-disabled="true">>></button></td>
                    </tr>

                    <tr>
                        <td></td>
                        <!-- LATE -->
                        <td style="background: #d04437; vertical-align: top; text-decoration: line-through; padding:0;"></td>
                        <!-- TODAY -->
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0; border-left: 3px solid #205081; border-right: 3px solid #205081;">
                            <div class="gadget color7" style="position: relative;">
                                <div class="dashboard-item-frame gadget-container">
                                    <div class="dashboard-item-header">
                                        <h3 class="dashboard-item-title">Presentation</h3>
                                    </div>
                                    <div class="dashboard-item-content">
                                        <img alt="admin" title="admin" src="/jira/secure/useravatar?avatarId=10122&amp;s=32" width="32" height="32">
                                        <a href="#">Pointer</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td  style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td style="background: #f5f5f5; vertical-align: top; text-decoration: line-through; padding:0;">

                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>