<html>
<head>
    <title>Event Organization Plans Configurations</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plans-configuration-resources")
</head>
<body>
<section class="aui-page-panel-content">
    <table class="jiraform jirapanel maxWidth">
        <tbody>
        <tr>
            <td class="jiraformheader">
                <a class="help-lnk" href="https://docs.atlassian.com/jira/docs-064/Defining+a+Screen"
                   title="Get online help about Placing fields on screens" data-helplink="online" target="_jirahelp"
                   style="float: right;"><span class="aui-icon aui-icon-small aui-iconfont-help">
            Get help!
        </span></a>
                <h3 class="formtitle">Configure Screen</h3>
            </td>
        </tr>
        <tr>
            <td class="jiraformbody">
                <p>
                    This page shows the way the fields are organised on <b id="screenName">TEst</b> screen.
                </p>

                <p>
                    <span class="warning">Note</span>: when the screen is shown to the user only non-hidden fields that
                    the user has permissions to edit will be actually displayed.
                </p>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="screen-editor" data-screen="10000" class="screen-editor" style="min-width: 218px;">
        <div class="aui-tabs aui-tabs-disabled horizontal-tabs">
            <ul class="tabs-menu  ui-sortable">
                <li data-name="Field Tab" data-tab="10100" class="menu-item active-tab"><a><strong><span
                        class="tab-draghandle"></span><span class="tab-label">Field Tab</span> <span data-tab="10100"
                                                                                                     class="tab-edit aui-icon aui-icon-small aui-iconfont-edit"></span><span
                        title="Delete Field Tab Tab" data-tab="10100"
                        class="aui-icon aui-icon-small aui-iconfont-remove delete-tab"></span></strong></a></li>
                <li><a class="add-tab" href="#">Add Tab</a></li>
            </ul>
            <div class="tabs-pane active-pane">
                <form class="aui" action="#">
                    <table class="fields-table aui-restfultable aui-restfultable-allowhover aui" data-id="10100"
                           id="tab-10100">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Field</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="ui-sortable">
                        <tr class="aui-restfultable-no-entires">
                            <td colspan="3">There are no fields configured for this tab</td>
                        </tr>
                        </tbody>
                        <tbody class="aui-restfultable-create">
                        <tr class="aui-restfultable-row aui-restfultable-editrow aui-restfultable-focused">
                            <td class="aui-restfultable-order"><span class="aui-restfultable-draghandle"></span></td>
                            <td class="field-name-cell">
                                <div class="available-fields">
                                    <div class="aui-ss aui-ss-editing" id="field-picker-single-select"><input
                                            autocomplete="off" class="text aui-ss-field ajs-dirty-warning-exempt"
                                            id="field-picker-field" placeholder="Select Field ...">
                                        <div class="aui-list" id="field-picker-suggestions" tabindex="-1"></div>
                                        <span class="icon aui-ss-icon noloading drop-menu"><span>More</span></span>
                                    </div>
                                    <select id="field-picker" name="fieldId" multiple="multiple" class="aui-ss-select"
                                            style="display: none;">
                                        <option value="versions">Affects Version/s</option>
                                        <option value="assignee">Assignee</option>
                                        <option value="attachment">Attachment</option>
                                        <option value="components">Component/s</option>
                                        <option value="description">Description</option>
                                        <option value="duedate">Due Date</option>
                                        <option value="environment">Environment</option>
                                        <option value="fixVersions">Fix Version/s</option>
                                        <option value="issuetype">Issue Type</option>
                                        <option value="labels">Labels</option>
                                        <option value="issuelinks">Linked Issues</option>
                                        <option value="worklog">Log Work</option>
                                        <option value="priority">Priority</option>
                                        <option value="reporter">Reporter</option>
                                        <option value="resolution">Resolution</option>
                                        <option value="security">Security Level</option>
                                        <option value="summary">Summary</option>
                                        <option value="timetracking">Time Tracking</option>
                                    </select>
                                    <div class="description">Select a field to add it to the screen.</div>
                                </div>
                            </td>
                            <td class="aui-restfultable-operations"><input class="aui-button" type="submit" value="Add">
                            </td>
                            <td class="aui-restfultable-status"><span class="aui-restfultable-throbber"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

</script>
</body>
</html>
