<html>
<head>
    <title>Draft of Event Plan Template</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plans-configuration-resources")
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main" id="page-title">
            <h2>Event Plan Template Configuration</h2>
        </div>
        <div class="aui-page-header-actions">
            <div id="category-form-buttons" class="aui-buttons" style="float: right;">
                <button id="event-category-dialog-next-button" class="aui-button aui-button-primary" resolved>Next
                </button>
                <button id="event-category-dialog-cancel-button" class="aui-button aui-button-link" resolved>Cancel
                </button>
            </div>

            <div id="component-form-buttons" class="aui-buttons" style="float: right;">
                <button id="event-component-dialog-back-button" class="aui-button" resolved>Back</button>
                <button id="event-component-dialog-create-button" class="aui-button" resolved><span
                        class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Component
                </button>
                <button id="event-component-dialog-next-button" class="aui-button aui-button-primary" resolved>Next
                </button>
                <button id="event-component-dialog-cancel-button" class="aui-button aui-button-link" resolved>Cancel
                </button>
            </div>

            <div id="new-component-form-buttons" class="aui-buttons" style="float: right;">
                <button id="event-new-component-dialog-back-button" class="aui-button" resolved>Back</button>
                <button id="event-new-component-dialog-create-component-button" class="aui-button" resolved><span
                        class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Component
                </button>
                <button id="event-new-component-dialog-create-task-button" class="aui-button" resolved><span
                        class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Task
                </button>
                <button id="event-new-component-dialog-next-button"
                        class="aui-button aui-button-primary" resolved>Next
                </button>
                <button id="event-new-component-dialog-cancel-button"
                        class="aui-button aui-button-link" resolved>Cancel
                </button>
            </div>

            <div id="task-form-buttons" class="aui-buttons" style="float: right;">
                <button id="event-task-dialog-back-button" class="aui-button" resolved>Back</button>
                <button id="event-task-dialog-create-component-button" class="aui-button" resolved><span
                        class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Component
                </button>
                <button id="event-task-dialog-create-task-button" class="aui-button" resolved><span
                        class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Task
                </button>
                <button id="event-task-dialog-next-button" class="aui-button aui-button-primary" resolved>Summary
                </button>
                <button id="event-task-dialog-cancel-button" class="aui-button aui-button-link" resolved>Cancel
                </button>
            </div>
        </div>
    </div>
</header>

<p>This is configuration page for draft of Event Plan Template named <b id="plan-name"></b>.</p>
<br/>
<div id="category-form">
    <p>Drag&drop Event Categories which fits to this Event Plan Template</p>
    <table class="aui" style="height: 170px;">
        <thead>
        <tr>
            <th id="available-event-category-head">Available Categories</th>
            <th id="selected-event-category-head">Selected Categories for this Event Plan Template</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td headers="available-event-category-head" width="50%">
                <ul id="available-event-category" class="connectedSortable"></ul>
            </td>
            <td headers="selected-event-category-head" width="50%">
                <ul id="selected-event-category" class="connectedSortable"></ul>
            </td>
        </tr>
        </tbody>
    </table>
    <form class="aui" id="event-category-configuration" style="clear:both;">
        <div class="field-group">
            <label for="category-name">Name<span
                    class="aui-icon icon-required">(required)</span></label>
            <input id="category-name" class="text" name="category-name" type="text"
                   maxlength="80"
                   required>

            <div class="description" id="category-name-description">Max. 80 characters.</div>
        </div>

        <div class="buttons-container">
            <div class="buttons">
                <button id="event-category-dialog-add-button" class="aui-button"
                        title="Add new Category">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    Add new Event Category
                </button>
            </div>
        </div>
    </form>
</div>

<div id="component-form">
    <p>Drag&drop Event Components which fits to this Event Plan Template</p>
    <table class="aui" style="height: 250px;">
        <thead>
        <tr>
            <th id="available-event-component-head">Available</th>
            <th id="selected-event-component-head">Selected</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td headers="available-event-component-head" width="50%">
                <ul id="available-event-component" class="connectedSortable"></ul>
            </td>
            <td headers="selected-event-component-head" width="50%">
                <ul id="selected-event-component" class="connectedSortable"></ul>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
<div id="new-component-form">
    <div>
        <table class="aui" style="height: 170px;">
            <thead>
            <tr>
                <th id="available-event-tasks-head">Available Tasks Templates to drop into Component Template</th>
                <th id="new-component-template-head">New Component Template</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td headers="available-event-tasks-head" width="50%">
                    <ul id="available-event-task" class="connectedSortable"></ul>
                </td>
                <td headers="new-component-template-head" width="50%">
                    <div class="gadget color1 event-plan-element-portlet" style="position: relative;">
                        <div class="dashboard-item-frame gadget-container">
                            <div class="dashboard-item-header event-plan-element-portlet-content"><input
                                    id="component-name"
                                    class="text long-field"
                                    name="component-name"
                                    type="text" maxlength="80"
                                    placeholder="Name (max. 80 characters)"
                                    style="width:90%; margin: 2px;" required>
                            </div>
                            <div class="dashboard-item-content event-plan-element-portlet-content"
                                 style="overflow: hidden;">
                                                <textarea id="component-description" class="text text long-field"
                                                          name="component-description"
                                                          type="text"
                                                          placeholder="Description (max. 255 characters)"
                                                          maxlength="255"
                                                          style="width:90%; margin: 2px; resize: vertical; max-height: 150px;"></textarea>
                                <br/>Tasks:
                                <ul id="new-component-tasks" class="tasks-list connectedSortable"
                                    style="min-height: 50px;"></ul>
                                <p>Estimated time to complete: </p>
                                <p class="aui-buttons" style="float: right;">
                                    <button id="event-new-component-dialog-clear-button"
                                            class="aui-button"
                                            title="Clear new Event Plan Component Template"
                                            resolved>Clear
                                    </button>
                                    <button id="event-new-component-dialog-add-button"
                                            class="aui-button aui-button-primary"
                                            title="Create new Event Plan Component Template"
                                            type="submit" resolved><span
                                            class="aui-icon aui-icon-small aui-iconfont-add"></span> Add
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <table class="aui" style="height: 250px; max-height: 250px; overflowY: scroll;">
            <thead>
            <tr>
                <th id="selected-component-head">Currently selected Component Templates</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="selected-components" headers="selected-component-head">
                    <ul id="selected-predefined-event-components" class="connectedSortable"></ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="task-form">
    <h3>Create new Task Template</h3>

    <form class="aui" id="event-task-configuration" style="clear:both;">
        <div class="field-group">
            <label for="task-name">Name<span
                    class="aui-icon icon-required">(required)</span></label>
            <input id="task-name" class="text" name="task-name" type="text" maxlength="80"
                   required>
            <div class="description" id="task-name-description">Max. 80 characters.</div>
        </div>
        <div class="field-group">
            <label for="task-description">Description</label>
            <input id="task-description" class="text" name="task-description" type="text"
                   maxlength="255">
            <div class="description" id="task-description-description">Max. 255 characters.</div>
        </div>
        <div class="field-group">
            <label for="task-needed-months">Time to complete<span
                    class="aui-icon icon-required">(required)</span></label>
            <input id="task-needed-months" class="text short-field" name="task-description"
                   type="number" min="0"
                   placeholder="Months" required> month(s) and
            <input id="task-needed-days" class="text short-field" name="task-description" type="number"
                   min="0"
                   placeholder="Days" required> day(s)
            <div class="description" id="task-needed-months-description">Number of months and days
                <u>before the event deadline</u> when this Task should be done.
            </div>
        </div>
        <div class="field-group">
            <label for="task-subtasks">SubTasks</label>
            <button id="event-subtask-add-button"
                    class="aui-button"
                    title="Add new SubTask Template">
                <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                Add SubTask Templates
            </button>
##            <div id="subtask-form">
##                <table class="aui">
##                    <tbody>
##                    <tr>
##                        <td widht="50%">
##                            <ul id="subtasks"></ul>
##                        </td>
##                        <td widht="50%">
##                            <form class="aui" id="event-subtask-configuration" style="padding: 0;">
##                                <div class="field-group">
##                                    <label for="subtask-name">Name<span
##                                            class="aui-icon icon-required">(required)</span></label>
##                                    <input id="subtask-name" class="text" name="subtask-name"
##                                           type="text" maxlength="80"
##                                           required>
##                                    <div class="description" id="subtask-name-description">Max. 80
##                                        characters.
##                                    </div>
##                                </div>
##                                <div class="field-group">
##                                    <label for="subtask-description">Description</label>
##                                    <input id="subtask-description" class="text"
##                                           name="subtask-description" type="text"
##                                           maxlength="255">
##                                    <div class="description" id="subtask-description-description">Max. 255
##                                        characters.
##                                    </div>
##                                </div>
##                                <div class="buttons-container">
##                                    <div class="buttons">
##                                        <button id="event-subtask-create-button"
##                                                class="aui-button"
##                                                title="Add SubTask Template">
##                                            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
##                                            Add new SubTask Template
##                                        </button>
##                                    </div>
##                                </div>
##                            </form>
##                        </td>
##                    </tr>
##                    </tbody>
##                </table>
##            </div>
            <div class="description" id="task-subtasks-description">Checklist of issues that should be
                completed with this Task Template.
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button id="event-task-dialog-create-button" class="aui-button aui-button-primary"
                        title="Add new Task Template">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    Add Task Template
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var plan = new Plan();
    var eventCategory = new Category();
    var selectableComponent = new Component();
    var newComponent = new Component();
    newComponent.id = 'new-component';
    var task = new Task();
    var subTask = new SubTask();

    var rest = new RESTManager();

    var categoryListener = new ButtonListener(eventCategory);
    categoryListener.onClickHideForm('next');
    categoryListener.onClickToggleResourceForm('next', selectableComponent);
    categoryListener.onClickAddAppendNewResourceToList(AJS.$("#selected-event-" + eventCategory.id));
    categoryListener.onCancelBackToEventPlanTemplatesList();

    var componentListener = new ButtonListener(selectableComponent);
    componentListener.hideForm();
    componentListener.onClickHideForm('next');
    componentListener.onClickHideForm('create');
    componentListener.onClickHideForm('back');
    componentListener.onClickToggleResourceForm('back', eventCategory);
    componentListener.onClickToggleResourceForm('create', newComponent);
    componentListener.onClickToggleResourceForm('next', plan);
    componentListener.onClick('create', function () {
        jQuery('#selected-event-component').children('li').appendTo('#selected-predefined-event-components');
    });
    componentListener.onCancelBackToEventPlanTemplatesList();

    var newComponentListener = new ButtonListener(newComponent);
    newComponentListener.hideForm();
    newComponentListener.onClickHideForm('next');
    newComponentListener.onClickHideForm('back');
    newComponentListener.onClickHideForm('create-task');
    newComponentListener.onClickClearForm('create-component');
    newComponentListener.onClickClearForm('clear');
    newComponentListener.onClickToggleResourceForm('back', selectableComponent);
    newComponentListener.onClickToggleResourceForm('create-task', task);
    newComponentListener.onClick('back', function () {
        jQuery('#selected-predefined-event-components').children('li').appendTo('#selected-event-component');
    });
    newComponentListener.onCancelBackToEventPlanTemplatesList();
    newComponentListener.onClickAddAppendNewResourceToList(AJS.$("#selected-predefined-event-components"));

    var taskListener = new ButtonListener(task);
    taskListener.hideForm();
    taskListener.onClickToggleResourceForm('next', plan);
    taskListener.onClickClearForm('create-task');
    taskListener.onClickHideForm('back');
    taskListener.onClickHideForm('next');
    taskListener.onClickHideForm('create-component');
    taskListener.onClickClearForm('create-task');
    taskListener.onClickToggleResourceForm('create-component', newComponent);
    taskListener.onClickToggleResourceForm('back', newComponent);
    //taskListener.onClickToggleResourceForm('add', subTask);
    //taskListener.onClickHideElement('add', '#event-subtask-add-button');
    taskListener.onCancelBackToEventPlanTemplatesList();

    //var subTaskListener = new ButtonListener(subTask);
    //subTaskListener.hideForm();

    AJS.$(document).ready(
            function () {
                jQuery('#plan-name').append(getParameterByName('plan-name'));
                rest.doGetResourcesInto([eventCategory], eventCategory);
                rest.doGetResourcesInto([selectableComponent, task], selectableComponent);
            }
    );

    jQuery("ul.connectedSortable").sortable({
        connectWith: "ul",
        dropOnEmpty: true,
        cursor: "move"
    }).disableSelection();

    jQuery("#available-event-task").sortable({
        connectWith: ".connectedSortable",
        remove: function (event, ui) {
            var itemClone, destinationListId;
            destinationListId = '#new-component-tasks';
            itemClone = ui.item.clone();

            itemClone.appendTo(destinationListId);
            jQuery(this).sortable('cancel');
        }
    }).disableSelection();

    jQuery("#new-component-tasks").sortable({
        connectWith: ".connectedSortable",
        remove: function (event, ui) {
            jQuery(this).sortable('cancel');
        }
    }).disableSelection();
</script>
</body>
</html>
