<!DOCTYPE html>
<html>
<head>
    <meta name="decorator" content="atl.general">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
    <link type="text/css" rel="stylesheet" href="/jira/s/d41d8cd98f00b204e9800998ecf8427e-CDN/pl_PL-l42oyd/64022/3/3.10.10/_/download/resources/com.atlassian.gadgets.dashboard:dashboard/gadget-chrome.css" media="all">
    <link type="text/css" rel="stylesheet" href="/jira/s/d41d8cd98f00b204e9800998ecf8427e-CDN/pl_PL-l42oyd/64022/3/3.10.10/_/download/resources/com.atlassian.gadgets.dashboard:dashboard/gadget-colours.css" media="all">
</head>
<body>
    <header class="aui-page-header" style="padding: 20px 20px 20px 20px;">
        <div class="aui-page-header-inner" >
            <div class="aui-page-header-main">
                <h1 id="time-line-name"></h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <a id="add_project" class="aui-button add-project-trigger" href="/jira/secure/admin/AddProject!default.jspa?src=adminprojectslist&amp;atl_token=BSQO-LWB7-7WJV-LVX4%7C3afb034601e4e4fc9d64bf33b7d71fd4d9491cca%7Clin">
                        <span class="aui-icon aui-icon-small aui-iconfont-info">Insert meaningful text here for accessibility</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;"><button id="previous-week" class="aui-button" style="width: 200px;"><< Previous week</button></td>
                            <td style="text-align: center;"><button id="current-week" class="aui-button" style="width: 200px;">Current week</button></td>
                            <td style="text-align: right;"><button id="next-week" class="aui-button" style="width: 200px;">Next week >></button></td>
                        </tr>
                    </tbody>
                </table>

                <table id="time-line" class="aui" style="table-layout: fixed;">
                    <tbody>
                        <tr id="tasks-todo"></tr>
                        <tr id="dates"></tr>
                        <tr id="done-tasks"></tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <script type="text/javascript">
        #include("templates/timeline/date-util.js")
        #include("templates/timeline/weeks-calculator.js")
        #include("templates/timeline/task-gadget-creator.js")

        #include("templates/timeline/time-line-navigation-buttons.js")
        #include("templates/timeline/time-line-buttons-listener.js")

        #include("templates/timeline/time-line-dates-creator.js")
        #include("templates/timeline/time-line-tasks-creator.js")

        #include("templates/timeline/time-line.js")

        #include("templates/admin/rest-manager.js")

        #include("templates/timeline/script.js")
    </script>
</body>
</html>