<section class="aui-page-panel-content onboarding-sequence-create-issues"><h2>Add issues to TEST</h2>
    <p>What are some things that need to be done for your project?</p>
    <table class="issue-table issuetable" style="display: table;">
        <thead>
        <tr class="rowHeader">
            <th class="issuetype"><span class="assistive">T</span></th>
            <th class="issuekey">Key</th>
            <th class="summary">Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr class="issuerow" rel="10000" data-issuekey="TEST-1">
            <td class="issuetype"><img src="http://msi-gt663r:2990/jira/images/icons/issuetypes/task.png" alt="Task"
                                       width="16" height="16" data-issuetypeid="3"></td>
            <td class="issuekey">TEST-1</td>
            <td class="summary">Test</td>
        </tr>
        </tbody>
    </table>
    <form id="create-issues-form" class="aui" action="undefined" method="post">
        <div class="js-issue-creator" data-projectid="undefined">
            <div class="iic">
                <div class="iic-trigger iic-trigger_hidden">
                    <button type="button">Create issue</button>
                </div>
            </div>
            <div class="iic-widget">
                <div class="iic-widget__issue-type-selector-container">
                    <div class="iic-widget__issue-type-selector">
                        <button type="button" class="iic-widget__issue-type-selector__trigger" aria-disabled="false">
                            <img src="http://msi-gt663r:2990/jira/images/icons/issuetypes/task.png" width="16"
                                 height="16"></button>
                        <div id="iic-issue-type-dropdown-c14"
                             class="aui-dropdown2 aui-style-default iic-widget__issue-type-selector__dropdown">
                            <div class="aui-dropdown2-section">
                                <ul class="aui-list-truncate">
                                    <li><a href="#" class="aui-icon-container" data-id="3"
                                           style="background-image: url('http://msi-gt663r:2990/jira/images/icons/issuetypes/task.png');">Task</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div><textarea name="summary" rows="1" cols="50" maxlength="255" class="iic-widget__summary"
                               placeholder="What needs to be done?" style="height: 29px;"></textarea>
                    <div class="iic-widget__footer">
                        <div class="iic-widget__description-container">
                            <div class="iic-widget__description">New <span
                                    class="iic-widget__description__selected-issue-type-name">Task</span></div>
                        </div>
                        <button type="button" class="aui-button aui-button-subtle iic-widget__more"
                                original-title="Open create dialog"><span
                                class="aui-icon aui-icon-small aui-iconfont-more">More</span></button>
                        <button type="button" class="aui-button aui-button-link iic-widget__cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-errors"></div>
        <div class="buttons-container right">
            <div class="buttons"><input type="submit" id="next" class="aui-button aui-button-primary" value="Next"><a
                    id="skip" class="aui-button aui-button-link" href="/jira/secure/Dashboard.jspa">Skip</a></div>
        </div>
    </form>
</section>

[INFO] [talledLocalContainer] 2016-01-21 15:27:41,937 http-bio-2990-exec-4 INFO admin 927x918x1 144c0nu 192.168.1.3 /rest/project-templates/1.0/templates [fields.config.manager.FieldConfigSchemeManagerImpl] ConfigScheme TEST: Simple Issue Tracking Issue Type Scheme (10100). Created with no associated contexts
[INFO] [talledLocalContainer] 2016-01-21 15:27:42,270 http-bio-2990-exec-4 INFO admin 927x918x1 144c0nu 192.168.1.3 /rest/project-templates/1.0/templates [atlassian.jira.workflow.OSWorkflowManager] User 'admin(admin)' updated workflow 'TEST: Simple Issue Tracking Workflow' at 'Thu Jan 21 15:27:42 CET 2016'
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,475 http-bio-2990-exec-4 INFO admin 927x918x1 144c0nu 192.168.1.3 /rest/project-templates/1.0/templates [atlassian.jira.workflow.OSWorkflowManager] User 'admin(admin)' updated workflow 'TEST: Simple Issue Tracking Workflow' at 'Thu Jan 21 15:27:43 CET 2016'
[INFO] [talledLocalContainer] sty 21, 2016 3:27:43 PM com.sun.jersey.server.impl.application.WebApplicationImpl _initiate
[INFO] [talledLocalContainer] INFO: Initiating Jersey application, version 'Jersey: 1.8-atlassian-15 06/27/2014 08:32 AM'
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,942 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.plugins.rest.common.error.jersey.ThrowableExceptionMapper, objectType=com.atlassian.plugins.rest.common.error.jersey.ThrowableExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,951 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.plugins.rest.common.error.jersey.ThrowableExceptionMapper, objectType=com.atlassian.plugins.rest.common.error.jersey.ThrowableExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,951 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.plugins.rest.common.security.jersey.SecurityExceptionMapper, objectType=com.atlassian.plugins.rest.common.security.jersey.SecurityExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,960 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.plugins.rest.common.security.jersey.SecurityExceptionMapper, objectType=com.atlassian.plugins.rest.common.security.jersey.SecurityExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,961 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.plugins.rest.common.error.jersey.NotFoundExceptionMapper, objectType=com.atlassian.plugins.rest.common.error.jersey.NotFoundExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,970 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.plugins.rest.common.error.jersey.NotFoundExceptionMapper, objectType=com.atlassian.plugins.rest.common.error.jersey.NotFoundExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,971 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.plugins.rest.common.security.jersey.AuthorisationExceptionMapper, objectType=com.atlassian.plugins.rest.common.security.jersey.AuthorisationExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:43,980 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.plugins.rest.common.security.jersey.AuthorisationExceptionMapper, objectType=com.atlassian.plugins.rest.common.security.jersey.AuthorisationExceptionMapper, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,231 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.plugins.rest.common.error.jersey.UncaughtExceptionEntityWriter, objectType=com.atlassian.plugins.rest.common.error.jersey.UncaughtExceptionEntityWriter, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,244 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.plugins.rest.common.error.jersey.UncaughtExceptionEntityWriter, objectType=com.atlassian.plugins.rest.common.error.jersey.UncaughtExceptionEntityWriter, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,489 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.jira.plugins.issue.create.rest.TestResource, objectType=com.atlassian.jira.plugins.issue.create.rest.TestResource, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,502 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.jira.plugins.issue.create.rest.TestResource, objectType=com.atlassian.jira.plugins.issue.create.rest.TestResource, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,503 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.jira.plugins.issue.create.rest.JQLIssueResource, objectType=com.atlassian.jira.plugins.issue.create.rest.JQLIssueResource, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,514 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.jira.plugins.issue.create.rest.JQLIssueResource, objectType=com.atlassian.jira.plugins.issue.create.rest.JQLIssueResource, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,516 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] BeforeInstantiation [beanName=com.atlassian.jira.plugins.issue.create.rest.JQLContextResource, objectType=com.atlassian.jira.plugins.issue.create.rest.JQLContextResource, level=-18]
[INFO] [talledLocalContainer] 2016-01-21 15:27:44,525 http-bio-2990-exec-1 WARN admin 927x924x1 144c0nu 192.168.1.3 /rest/inline-create/1.0/context/bootstrap [spring.scanner.extension.DevModeBeanInitialisationLoggerBeanPostProcessor] AfterInitialisation [beanName=com.atlassian.jira.plugins.issue.create.rest.JQLContextResource, objectType=com.atlassian.jira.plugins.issue.create.rest.JQLContextResource, level=-18]