<section role="dialog" id="event-category-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Select Event Plan Categories</h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui" id="event-category-configuration">
            <div class="field-group">
                <label for="plan-categories">Categories<span
                        class="aui-icon icon-required">(required)</span></label>
                <select class="multi-select" multiple="" id="plan-categories" name="plan-categories"
                        title="Available Event Categories"></select>

                <div class="description" id="plan-categories-description">Select at least one Category.</div>
            </div>
            <div>
                <h3>Add new Event Category</h3>
                <div class="field-group" id="event-category-group">
                    <label for="category-name">Name<span class="aui-icon icon-required">(required)</span></label>
                    <input id="category-name" class="text" name="category-name" type="text" maxlength="80">
                    <button id="category-button" class="aui-button" title="Add new Event Category">
                        <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                        Add
                    </button>

                    <div class="description" id="category-name-description">Max. 80 characters.</div>
                </div>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="event-category-dialog-cancel-button" class="aui-button">Cancel</button>
            <button id="event-category-dialog-next-button" class="aui-button aui-button-primary">Next</button>
        </div>
    </footer>
</section>