<section role="dialog" id="event-subtask-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">SubTask definition</h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui" id="event-subtask-configuration" action="#" method="post">
            <div class="field-group" id="task-subtask-group">
                <label for="subtask-name">Name<span class="aui-icon icon-required">(required)</span></label>
                <input id="subtask-name" name="subtask-name" type="text">

                <div class="description" id="subtask-name-description">Name of the SubTask.</div>
            </div>
            <div class="field-group" id="subtask-description-group">
                <label for="subtask-description">Description</label>
                <input id="subtask-description" name="subtask-description" type="text">

                <div class="description" id="subtask-description-description">Description of the SubTask.</div>
            </div>
            <div class="field-group" id="subtask-time-group">
                <label for="subtask-time">Time to complete<span
                        class="aui-icon icon-required">(required)</span></label>
                <input id="subtask-time" name="subtask-time" type="text">

                <div class="description" id="subtask-time-description">Estimated time to complete SubTask.
                </div>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="event-subtask-dialog-cancel-button" class="aui-button">Cancel</button>
            <button id="event-subtask-dialog-save-button" class="aui-button aui-button-primary" type="submit">Save
            </button>
        </div>
    </footer>
</section>