<section role="dialog" id="event-task-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Task definition</h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui" id="event-task-configuration" action="#" method="post">
            <div class="field-group">
                <label for="plan-component">Select component</label>
                <select id="plan-component" name="plan-component" title="Event Plan Tasks Templates"></select>

                <div class="description" id="plan-components-description">Select Component Template to which you want to
                    add Tasks.
                </div>
            </div>
            <div class="field-group">
                <label for="plan-tasks">Tasks<span class="aui-icon icon-required">(required)</span></label>
                <select class="multi-select" multiple="" id="plan-tasks" name="plan-tasks"
                        title="Event Plan Tasks Templates"></select>

                <div class="description" id="plan-components-description">Select at least one component.</div>
            </div>
            <div><h3>Add new Event Category</h3>
                <div class="field-group" id="task-name-group">
                    <label for="task-name">Name<span class="aui-icon icon-required">(required)</span></label>
                    <input id="task-name" name="task-name" type="text">

                    <div class="description" id="task-name-description">Name of the Task.</div>
                </div>
                <div class="field-group" id="task-description-group">
                    <label for="task-description">Description</label>
                    <input id="task-description" name="task-description" type="text">

                    <div class="description" id="task-description-description">Description of the Task.</div>
                </div>
                <div class="field-group" id="task-time-group">
                    <label for="task-needed-time">Time for completion
                        <span class="aui-icon icon-required">(required)</span></label>
                <span id="task-needed-time">
                    <input id="task-needed-months" name="task-needed-months" type="number" min="0" value="0"
                           placeholder="Months" style="width: 60px;"> months +
                    <input id="task-needed-days" name="task-needed-days" type="number" min="1" max="31" value="0"
                           placeholder="Days" style="width: 60px;"> days
                </span>
                    <div class="description" id="task-time-description">Estimated number of months and days needed to
                        complete this task.
                    </div>
                </div>
                <button id="task-button" class="aui-button" title="Add new Event Task Template">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    Add
                </button>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="event-task-dialog-cancel-button" class="aui-button">Cancel</button>
            <button id="event-task-dialog-save-button" class="aui-button aui-button-primary" type="submit">Save
            </button>
        </div>
    </footer>
</section>