<html>
<head>
    <title>Event Organization Plans Configurations</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plans-configuration-resources")
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>View Event Plan Templates</h2>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <button id="add-plan-button" class="aui-button trigger-dialog">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    Add Event Plan Template
                </button>
            </div>
            <div class="aui-buttons">
                <button id="import-plans-button" class="aui-button trigger-dialog">
                    Import
                </button>
            </div>
        </div>
    </div>
</header>

<div class="aui-message info">
    <span class="aui-icon icon-info"></span>

    <p>Description...</p>
</div>

<table id="plans-table" class="aui aui-table-rowhover">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Statistics
        </th>
        <th>
            Component Templates
        </th>
        <th>
            Assigned Event Categories
        </th>
        <th>
            Operations
        </th>
    </tr>
    </thead>
    <tbody id="plans-table-body">
    </tbody>
</table>

<section role="dialog" id="event-plan-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <form class="aui" id="event-plan-configuration" action="EventPlanCreator.jspa">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Add Event Organization Plan Template</h2>
        </header>
        <div class="aui-dialog2-content">
            <div class="field-group" id="event-name-group">
                <label for="plan-name">Name<span class="aui-icon icon-required">(required)</span></label>
                <input id="plan-name" class="text" name="plan-name" type="text" maxlength="80" minlength="1" required>

                <div class="description" id="plan-name-description">Max. 80 characters.</div>
            </div>
            <div class="field-group" id="event-description-group">
                <label for="plan-description">Description</label>
                <input id="plan-description" class="text" name="plan-description" type="text" maxlength="255"
                       minlength="0">

                <div class="description" id="plan-description-description">Max. 255 characters.</div>
            </div>

        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="event-plan-dialog-cancel-button" class="aui-button aui-button-link">Cancel</button>
                <button id="event-plan-dialog-next-button" class="aui-button aui-button-primary">Create</button>
            </div>
        </footer>
    </form>
</section>

<section id="import-plan-dialog" role="dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <form class="aui" id="import-event-plan-template-form" action="">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main" title="Import Event Plan Templates From XML">Import Event Plan Templates
                From XML</h2>
        </header>
        <div class="aui-dialog2-content">
            <div class="field-group">
                <label for="uploadFile">Upload file</label>
                <input class="upfile" type="file" id="uploadFile" name="uploadFile" title="Upload file">
            </div>
        </div>

        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <span class="icon throbber"></span>
                <button class="aui-button" id="import-plan-templates-submit" name="Import" type="submit" value="Import">
                    Import
                </button>
                <button class="aui-button aui-button-link" id="import-plan-templates-cancel">Cancel</button>
            </div>
        </footer>
    </form>
</section>

<script type="text/javascript">
    var plansList = new PlansList();
    var plan = new Plan();

    function loadPlansList() {
        var rest = new RESTManager();
        rest.get('plan', plansList);
    }

    AJS.$(document).ready(
            function () {
                loadPlansList();
            }
    );

    AJS.$("#add-plan-button").click(
            function (e) {
                e.preventDefault();
                plan.clear();
                AJS.dialog2('#event-plan-dialog').show();
            }
    );

    AJS.$("#event-plan-dialog-cancel-button").click(
            function (e) {
                e.preventDefault();
                AJS.dialog2('#event-plan-dialog').hide();
            }
    );

    AJS.$("#import-plans-button").click(
            function (e) {
                e.preventDefault();
                document.getElementById("import-event-plan-template-form").reset();
                AJS.dialog2('#import-plan-dialog').show();
            }
    );

    AJS.$("#import-plan-templates-cancel").click(
            function (e) {
                e.preventDefault();
                AJS.dialog2('#import-plan-dialog').hide();
            }
    );

    AJS.$("#import-plan-templates-submit").click(
            function (e) {
                e.preventDefault();

                var file = document.getElementById("uploadFile").files[0], reader = new FileReader();

                reader.readAsText(file, "UTF-8");
                reader.onload = function (event) {
                    jQuery.ajax({
                        url: AJS.contextPath() + "/rest/event-plans/1.0/plan/import",
                        type: "POST",
                        contentType: "text/plain",
                        data: event.target.result,
                        success: function (data) {
                            require('aui/flag')({
                                type: 'success',
                                title: 'Event Plan Template imported successfully!',
                                close: "auto"
                            });
                            loadPlansList();
                        },
                        error: function (request) {
                            require('aui/flag')({
                                type: 'error',
                                title: 'Cannot import selected Event Plan Template!',
                                body: 'Status: ' + request.statusText,
                                close: "auto"
                            });
                        }
                    });
                }
                reader.onerror = function (event) {
                    require('aui/flag')({
                        type: 'error',
                        title: 'Error while reading XML file!',
                        close: "auto"
                    });
                }

                AJS.dialog2('#import-plan-dialog').hide();
            }
    );
</script>
</body>
</html>
