<html>
<head>
    <title>Event Organization Plans Configurations</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plans-configuration-resources")
</head>
<body>
<section class="aui-page-panel-content" style="width: 100%;">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>View Event Plan Templates</h2>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <button id="add-plan-button" class="aui-button trigger-dialog">
                        <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                        Add Event Plan Template
                    </button>
                </div>
                <div class="aui-buttons">
                    <button id="import-plans-button" class="aui-button trigger-dialog">
                        Import
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="aui-message info">
        <span class="aui-icon icon-info"></span>

        <p>Description...</p>
    </div>

    <table id="plans-table" class="aui aui-table-rowhover">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Assigned Event Categories
            </th>
            <th>
                Component Templates
            </th>
            <th>
                Estimated time to complete
            </th>
            <th>
                Operations
            </th>
        </tr>
        </thead>
        <tbody id="plans-table-body">
        </tbody>
    </table>
</section>

    #include("templates/admin/dialogs/plan-dialog.vm")
    #include("templates/admin/dialogs/event-category-dialog.vm")
    #include("templates/admin/dialogs/component-dialog.vm")
    #include("templates/admin/dialogs/task-dialog.vm")
    #include("templates/admin/dialogs/subtask-dialog.vm")

<script type="text/javascript">
    var plansList = new PlansList();
    var plan = new Plan();
    var eventCategory = new Category();
    var component = new Component();
    var task = new Task();
    var subTask = new SubTask();

    AJS.$(document).ready(
            function () {
                var rest = new RESTManager();
                rest.get(plan.id, plansList);
            });

    var subTaskListener = new ButtonListener(subTask);
    subTaskListener.onBackShowDialogForResource(task);
    subTaskListener.onCancelCloseDialog();

    var taskListener = new ButtonListener(task);
    //taskListener.onShowDoGet([subTask]);
    taskListener.onBackShowDialogForResource(component);
    taskListener.onNextShowDialogForResource(subTask);
    taskListener.onCancelCloseDialog();

    var componentListener = new ButtonListener(component);
    componentListener.onBackShowDialogForResource(eventCategory);
    componentListener.onNextShowDialogForResource(task);
    componentListener.onCancelCloseDialog();

    var categoryListener = new ButtonListener(eventCategory);
    categoryListener.onNextShowDialogForResource(component);
    categoryListener.onBackShowDialogForResource(plan);
    categoryListener.onCancelCloseDialog();

    var planListener = new ButtonListener(plan)
    //planListener.onShowDoGet([eventCategory, component]);
    planListener.onAddShowDialog();
    planListener.onNextShowDialogForResource(eventCategory);
    planListener.onCancelCloseDialog();

    jQuery("ul.connectedSortable").sortable({
        connectWith: "ul",
        dropOnEmpty: true,
        cursor: "move"
    }).disableSelection();
</script>
</body>
</html>
