<html>
<head>
    <title>Event Organization Plans Configurations</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_menu/project_section"/>
    <meta name="admin.active.tab" content="event_plans"/>
</head>
<body>
    <form id="admin" class="aui">
        <div class="field-group">
            <label for="name">Name:</label>
            <input class="text medium-field" type="text" id="name" name="name" class="text">
        </div>
        <div class="field-group">
            <label for="time">Time:</label>
            <input class="text medium-field" type="text" id="time" name="time" class="text">
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button">
        </div>
    </form>
    <script type="text/javascript">
        function fillConfig() {
            var url = AJS.contextPath() + "/rest/event-plans/1.0/";

            jQuery(document).ready(function() {
                    jQuery.ajax({
                        url: url,
                        dataType: "json"
                    }).done(function(config) {
                        AJS.$("#name").val(config.name);
                        AJS.$("#time").val(config.time);
                    });
            });
        }

        function updateConfig() {
          var url = AJS.contextPath() + "/rest/event-plans/1.0/";

          jQuery.ajax({
            url: url,
            type: "PUT",
            contentType: "application/json",
            data: '{ "name": "' + AJS.$("#name").attr("value") + '", "time": ' +  AJS.$("#time").attr("value") + ' }',
            processData: false
          });
        }

        AJS.$("#admin").submit(function(e) {
                e.preventDefault();
                updateConfig();
        });

        fillConfig();
    </script>
</body>
</html>
