<html>
<head>
    <title>Event Organization Plans Configurations</title>
    <meta name="admin.active.section" content="admin_issues_menu/element_options_section/fields_section">
    <meta name="admin.active.tab" content="field_configuration">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>
    <section class="aui-page-panel-content">

        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h2>View Event Organization Plans Configurations</h2>
                </div>
                <div class="aui-page-header-actions">
                    <div class="aui-buttons">
                        <a id="add-plan-configuration" class="aui-button trigger-dialog"
                           href="AddFieldConfiguration!default.jspa">
                            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                            Add Event Organization Plan
                        </a>
                    </div>

                    <span class="aui-icon aui-icon-small aui-iconfont-help">Get help!</span>
                </div>
            </div>
        </header>

        <div class="aui-message info">
            <span class="aui-icon icon-info"></span>

            <p>Opis...</p>
        </div>

        <table id="plans-table" class="aui aui-table-rowhover">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Field Configuration Schemes
                </th>
                <th>
                    Operations
                </th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <span data-scheme-field="name" class="field-name">
                            <a href="/jira/secure/admin/ViewIssueFields.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin"
                               title="Edit field properties">Default Field Configuration</a>
                    </span>

                    <div data-scheme-field="description" class="description secondary-text">
                        The default field configuration
                    </div>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="/jira/secure/admin/ConfigureFieldLayoutScheme.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10000">Event
                                organization Field Configuration Scheme for a project ard</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="operations-list">

                        <li><a id="configure-Default Field Configuration"
                               href="/jira/secure/admin/ViewIssueFields.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin"
                               title="Edit field properties">Configure</a></li>


                        <li><a id="copy-Default Field Configuration"
                               href="/jira/secure/admin/CopyFieldLayout!default.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10000"
                               title="Create a copy of Default Field Configuration">Copy</a></li>

                        <!-- Field Configuration can only be deleted if it is not associated with a scheme -->

                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <span data-scheme-field="name" class="field-name">
                            <a href="/jira/secure/admin/ConfigureFieldLayout!default.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10100"
                               title="Edit field properties">Event organization Field Configuration</a>
                    </span>

                    <div data-scheme-field="description" class="description secondary-text">
                        Field Configuration for the Event organization Issues
                    </div>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="/jira/secure/admin/ConfigureFieldLayoutScheme.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10000">Event
                                organization Field Configuration Scheme for a project ard</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="operations-list">
                        <li><a id="configure-Event organization Field Configuration"
                               href="/jira/secure/admin/ConfigureFieldLayout!default.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10100"
                               title="Edit field properties">Configure</a></li>

                        <li><a id="copy-Event organization Field Configuration"
                               href="/jira/secure/admin/CopyFieldLayout!default.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10100"
                               title="Create a copy of Event organization Field Configuration">Copy</a></li>

                        <li><a id="edit-Event organization Field Configuration"
                               href="/jira/secure/admin/EditFieldLayout!default.jspa?atl_token=BPA2-WJ2K-COYX-Z1M2%7Caf0f03dffc3f9be1b77b0bc7ad3d7606808452df%7Clin&amp;id=10100"
                               title="Edit Event organization Field Configuration">Edit</a></li>

                        <!-- Field Configuration can only be deleted if it is not associated with a scheme -->

                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>