<html>
<head>
    <title>Event Organization Plan Configuration</title>
    <meta name="decorator" content="atl.popup">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
</head>
<body>
    <script type="text/javascript">
        AJS.flag({
            type: 'error',
            title: 'Error while configuring Event organization project.',
            body: '<ul class="aui-nav-actions-list">' +
                    '<li><a href="' + document.location + '">Try again</a></li>' +
                    '<li><a href="' + AJS.Meta.get("context-path") + '">Back to JIRA main page</a></li>' +
                  '</ul>'
        });
    </script>
</body>
</html>

