<html>
<head>
    <title>Event Organization Plan Configuration</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_current/project_section"/>
    <meta name="admin.active.tab" content="view_projects"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plan-configuration-resources")
</head>
<body>
<script type="text/javascript">
        require('aui/flag')({
            type: 'error',
            title: 'Error while configuring Event organization project.',
            body: '<ul class="aui-nav-actions-list">' +
                    '<li><a href="' + document.location + '">Try again</a></li>' +
                    '<li><a href="' + AJS.contextPath() + '">Back to JIRA main page</a></li>' +
                  '</ul>'
        });
</script>
</body>
</html>

