<html>
<head>
    <title>Event Organization Plan Configuration</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_project_current/project_section"/>
    <meta name="admin.active.tab" content="view_projects"/>
    $webResourceManager.requireResource("edu.uz.jira.event.planner.event-planner:event-plan-configuration-resources")
</head>
<body>
<section role="dialog" id="event-config-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Event organization configuration</h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui" id="event-configuration" action="#" method="post">
            <div class="field-group">
                <label for="event-type">Event Plan</label>
                <select class="select" id="event-type" name="event-type" title="Event type">
                    <option>Undefined</option>
                    #set ($eventPlans = $action.getEventPlans())
                    #foreach($eachPlan in $eventPlans.keySet())
                        <optgroup label="$eachPlan">
                            #foreach($eachValue in $eventPlans.get($eachPlan))
                                <option>$eachValue</option>
                            #end
                        </optgroup>
                    #end
                </select>

                <div class="description">Predefined Plan of an Event. <a target="_blank"
                                                                         href="$baseurl/plugins/servlet/event/plans/configuration"
                                                                         title="Will open in new tab"
                                                                         alt="Will open in new tab">Show all predefined
                    Event Organization Plans.</a></div>
            </div>

            <div class="field-group" id="event-duedate-group">
                <label for="event-duedate">Event deadline<span class="aui-icon icon-required">(required)</span></label>
                <input id="event-duedate" name="event-duedate" type="text" data-aui-validation-field
                       data-aui-validation-required="required">

                <div class="description" id="event-duedate-description">Date of an event.</div>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="event-config-dialog-save-button" class="aui-button aui-button-primary" type="submit">Save
            </button>
        </div>
    </footer>
</section>

<script type="text/javascript">
    configureDialog();
    AJS.dialog2("#event-config-dialog").show();
</script>
</body>
</html>